.header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav a {
  margin: 0 8px;
}

.active {
  border-bottom: 2px solid white;
}
